db:
  host: localhost
  user: mad
  pass: mad
  db: mad
index:
  transaction:
    - io.sha256
  transient:
    - filename
    - size
    - hostname
    - investigation
    - volume
    - study
    - assay
    - investigation_contact
    - study_contact
    - assay_contact
color:
  tag:
    fg: black
    bg: 88
  transient:
    bg: 64
    fg: black
  core:
    bg: 172
    fg: black
  transaction:
    bg: 69
    fg: black
  warning:
    bg: 88
    fg: 15
  message:
    bg: 0
    fg: 253
