db:
  host: localhost
  user: mad
  pass: mad
  db: mad
index:
  transient:
    - filename
    - size
    - hostname
    - project
    - 
color:
  warning:
    bg: 88
    fg: 15
  message:
    bg: 253
    fg: 0
keywords:
  tag:
    type: str
    shape: set
  investigation:
    type: str
    shape: set
    isatab_key: "Investigation Identifier"
  project:
    alias: investigation
  p:
    alias: investigation
  i:
    alias: investigation
  study:
    type: str
    shape: one
    isatab_key: "Study Identifier"
  s:
    alias: study
  assay:
    type: str
    shape: one
    isatab_key: "Assay Identifier"
  a:
    alias: assay
  description:
    shape: set
