sha1:
  shape: one
  desc: sha1 checksum
  cat: ['transient', 'core']
sha256:
  shape: one
  desc: sha256 checksum
  cat: ['transient', 'core']
uid:
  cat: ['transient']
gid:
  cat: ['transient']
user:
  cat: ['transient']
group:
  cat: ['transient']
nlink:
  cat: ['transient']
filename:
  cat: ['transient']
hostname:
  cat: ['transient']
mode:
  cat: ['transient']
size:
  cat: ['transient']
  type: int
mtime:
  cat: ['transient']
tag:
  type: str
  shape: set
investigation:
  type: str
  shape: set
  isatab_key: "Investigation Identifier"
project:
  alias: investigation
p:
  alias: investigation
i:
  alias: investigation
investigation_contact:
  type: str
  shape: set
ic:
  alias: investigation_contact
pi:
  alias: investigation_contact
study:
  shape: set
  isatab_key: "Study Identifier"
s:
  alias: study
study_contact:
  type: str
  shape: set
sc:
  alias: study_contact
biologist:
  alias: study_contact
assay:
  type: str
  shape: set
  isatab_key: "Assay Identifier"
a:
  alias: assay
assay_contact:
  type: str
  shape: set
ac:
  alias: assay_contact
analyst:
  alias: assay_contact
description:
  shape: set
desc:
  alias: description
d:
  alias: description
volume:
  shape: one
  type: str
  cat: ['transient']
  desc: logical volume this file resides on
group:
  shape: set
  type: str
  cat: ['transient']
  desc: Group owning this file
category:
  shape: one
  type: str
  desc: data management category
backup:
  shape: one
  type: str
  desc: backup strategy
state:
  shape: one
  type: str
  desc: transaction state
  cat: ['transaction']
